.list{
    display: flex;
    flex-direction:column;
    box-sizing: border-box;
border: rgba(red, green, blue, alpha) solid;
    height: 550px;
    overflow-y: scroll;
    background-color: beige;
}
