.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 80%;
    margin: 10px 5% 10px 10%;
    border: 4px solid rgba(red, green, blue, alpha);
    border-radius: 10px;
    background-color: beige;
}
.left{
    flex: 0 0 auto;
}
  
.right{
    flex: 1 1 auto;
}
.Thum{
    flex-basis: 15%;
    flex-grow: 1;
}
.detail{
    border: solid rgb(0, 0, 0) 7px;
    height: 150px;
    box-sizing: border-box;
    margin: 5%;
    flex-basis: 75%;
    flex-grow: 1;
    overflow-y: scroll;
    border-radius: 15px;
}
.detail > *{
    margin: 0%;
}
.detail >h3{
    padding-top: 5px;
}
.detail{
    box-sizing: border-box;
    margin-top: 25px;
    margin-bottom: 12.5px;
    margin-right: 20px;
    margin-left: 60px;
}